Repository pluto-atom-4/nlp-playground: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-spacy-models, sync-extractor-list

.pre-commit-config.yaml:

repos:
  - repo: https://github.com
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: check-persona-files
        name: Check Sub-Project Persona Files
        entry: bash -c 'for dir in pydparser skills-extractor escoe-extractor spacy-project langextract; do if [ ! -f "$dir/.claude/skills.md" ]; then echo "Missing $dir/.claude/skills.md"; exit 1; fi; done'
        language: system
        pass_filenames: false
      - id: validate-spacy-models
        name: Validate spaCy Models
        entry: uv run --package spacy-project python -m spacy validate
        language: system
        files: ^spacy-project/
      - id: sync-extractor-list
        name: Sync Extractor List
        entry: uv run python scripts/update_compare_list.py
        language: system
        files: pyproject.toml
        pass_filenames: false

Reorganize pydparser subproject: rename to pydparser-assessment, update README and skills documentation, and implement extraction logic
  .github/copilot-instructions.md
  README.md
  pydparser-assessment/.claude/skills.md
  pydparser-assessment/README.md
  pydparser-assessment/pyproject.toml
  pydparser-assessment/src/pydparser_assessment/__init__.py
  pydparser-assessment/src/pydparser_assessment/__main__.py
  pydparser/.claude/skills.md
  pyproject.toml
  src/nlp_playground/__init__.py
  src/nlp_playground/py.typed
  uv.lock
Due: sync-extractor-list

Refactor pydparser structure: update extractor scripts, improve error handling, and add dev dependencies
  compare_extractors.py
  pydparser/src/pydparser/__init__.py
  pydparser/src/pydparser/__main__.py
  pyproject.toml
  scripts/agent_shim.py
  scripts/update_compare_list.py
  uv.lock
Due: sync-extractor-list

Refactor agent_shim.py: streamline benchmark functions and improve metadata parsing
  scripts/agent_shim.py
Due: none

Refactor code structure for improved readability and maintainability
  langextract/src/langextract/__main__.py
  pydparser/.claude/skills.md
  pydparser/pyproject.toml
  pydparser/src/pydparser/__init__.py
  pydparser/src/pydparser/__main__.py
  pyproject.toml
  pyrightconfig.json
  spacy-project/pyproject.toml
  spacy-project/uv.lock
Due: validate-spacy-models, sync-extractor-list

Update persona consistency check to reflect pydparser-assessment renaming
  .github/workflows/review.yaml
Due: none

Refactor code for improved readability: add spacing and formatting adjustments across multiple files
  compare_extractors.py
  escoe-extractor/src/escoe_extractor/__init__.py
  pydparser-assessment/src/pydparser_assessment/__init__.py
  scripts/agent_shim.py
  scripts/update_compare_list.py
  spacy-project/src/spacy_project/__init__.py
Due: validate-spacy-models

Reorganize pydparser subproject: rename to pydparser-assessment, upda… (#1)
  .github/copilot-instructions.md
  .github/workflows/review.yaml
  README.md
  compare_extractors.py
  escoe-extractor/src/escoe_extractor/__init__.py
  langextract/src/langextract/__main__.py
  pydparser-assessment/.claude/skills.md
  pydparser-assessment/README.md
  pydparser-assessment/pyproject.toml
  pydparser-assessment/src/pydparser_assessment/__init__.py
  pydparser-assessment/src/pydparser_assessment/__main__.py
  pydparser/.claude/skills.md
  pydparser/pyproject.toml
  pydparser/src/pydparser/__init__.py
  pyproject.toml
  pyrightconfig.json
  scripts/agent_shim.py
  scripts/update_compare_list.py
  spacy-project/pyproject.toml
  spacy-project/src/spacy_project/__init__.py
  spacy-project/uv.lock
  src/nlp_playground/__init__.py
  src/nlp_playground/py.typed
  uv.lock
Due: validate-spacy-models, sync-extractor-list

fix: Unified sub-project naming with -assessment suffix
  .github/workflows/review.yaml
  .pre-commit-config.yaml
  README.md
  compare_extractors.py
  escoe-extractor-assessment/.claude/skills.md
  escoe-extractor-assessment/README.md
  escoe-extractor-assessment/pyproject.toml
  escoe-extractor-assessment/src/escoe_extractor_assessment/__init__.py
  escoe-extractor-assessment/src/escoe_extractor_assessment/__main__.py
  langextract-assessment/.claude/skills.md
  langextract-assessment/README.md
  langextract-assessment/pyproject.toml
  langextract-assessment/src/langextract_assessment/__init__.py
  langextract-assessment/src/langextract_assessment/__main__.py
  pyproject.toml
  pyrightconfig.json
  skills-extractor-assessment/.claude/skills.md
  skills-extractor-assessment/README.md
  skills-extractor-assessment/pyproject.toml
  skills-extractor-assessment/src/skills_extractor_assessment/__init__.py
  skills-extractor-assessment/src/skills_extractor_assessment/__main__.py
  spacy-assessment/.claude/skills.md
  spacy-assessment/README.md
  spacy-assessment/pyproject.toml
  spacy-assessment/src/spacy_assessment/__init__.py
  spacy-assessment/src/spacy_assessment/__main__.py
  spacy-assessment/uv.lock
  uv.lock
Due: sync-extractor-list

Fix: downgrade Python to 3.12 for spaCy 3.7.2 compatibility (fixes #4)
  pyproject.toml
  uv.lock
Due: sync-extractor-list

Add test suite for pydparser extraction functionality with sample resume
  .claude/rules.md
  .github/copilot-instructions.md
  README.md
  pydparser-assessment/pyproject.toml
  pydparser-assessment/src/pydparser_assessment/__init__.py
  pydparser-assessment/tests/test_extract.py
  pyproject.toml
  spacy-assessment/pyproject.toml
  tests/data/sample_resume.txt
  tests/how_to_test.md
  uv.lock
Due: sync-extractor-list

Refactor: Clean up code formatting and update dependencies in various files
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
  compare_extractors.py
  pydparser-assessment/tests/test_extract.py
  pyproject.toml
  scripts/update_compare_list.py
  uv.lock
Due: sync-extractor-list

Refactor: Improve formatting of EXTRACTORS list for better readability
  compare_extractors.py
Due: none

Add test suite for pydparser extraction functionality with sample resume (#6)
  .claude/rules.md
  .github/copilot-instructions.md
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
  compare_extractors.py
  pydparser-assessment/pyproject.toml
  pydparser-assessment/src/pydparser_assessment/__init__.py
  pydparser-assessment/tests/test_extract.py
  pyproject.toml
  scripts/update_compare_list.py
  spacy-assessment/pyproject.toml
  tests/data/sample_resume.txt
  tests/how_to_test.md
  uv.lock
Due: sync-extractor-list

Add utility script: clean-remote-branches.sh and update documentation
  scripts/README.md
  scripts/clean-remote-branches.sh
  tests/how_to_test.md
Due: none

Add build-system configuration and update project metadata for assessment packages
  escoe-extractor-assessment/pyproject.toml
  langextract-assessment/pyproject.toml
  pydparser-assessment/pyproject.toml
  skills-extractor-assessment/pyproject.toml
  spacy-assessment/pyproject.toml
  uv.lock
Due: sync-extractor-list

Add unit tests for entity extraction functionality in test_extract.py
  spacy-assessment/tests/test_extract.py
Due: none

Refactor pre-commit hook for checking persona files and clean up test_extract.py
  .pre-commit-config.yaml
  spacy-assessment/tests/test_extract.py
Due: none

Add unit tests for entity extraction functionality in test_extract.py (#9)
  .pre-commit-config.yaml
  spacy-assessment/tests/test_extract.py
Due: none

chore: clean up whitespace in clean-remote-branches.sh and pyproject.toml
  escoe-extractor-assessment/pyproject.toml
  langextract-assessment/pyproject.toml
  pydparser-assessment/pyproject.toml
  scripts/clean-remote-branches.sh
  skills-extractor-assessment/pyproject.toml
  spacy-assessment/pyproject.toml
Due: sync-extractor-list

feat: return entity labels in extract function for enhanced output
  spacy-assessment/src/spacy_assessment/__init__.py
Due: none

assess ojd_daps_skills
  escoe-extractor-assessment/pyproject.toml
  langextract-assessment/pyproject.toml
  pydparser-assessment/README.md
  pydparser-assessment/pyproject.toml
  pydparser-assessment/src/pydparser_assessment/__init__.py
  pydparser-assessment/src/pydparser_assessment/__main__.py
  pydparser-assessment/tests/test_extract.py
  pyproject.toml
  pyrightconfig.json
  skills-extractor-assessment/pyproject.toml
  skills-extractor-assessment/src/skills_extractor_assessment/__init__.py
  skills-extractor-assessment/tests/__init__.py
  skills-extractor-assessment/tests/test_extract.py
  spacy-assessment/pyproject.toml
  uv.lock
Due: sync-extractor-list
